.SearchResults {
  h4 {
    margin-top: 0;
  }
}

.ResultContainer {
  display: block;
  background-color: #fcfcfc;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  margin-bottom: 1em;
  padding: 1em;
}
