body {
  background: #f0f0f0;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.our-results {
  background-color: rgb(70, 0, 0) !important;
}

.user-likes {
  background-color: rgb(70, 0, 200) !important;
}

.from-input {
  background-color: rgb(70, 180, 0) !important;
}

/* if being typed & in user attrs */
.user-likes.from-input {
  background-color: rgb(70, 200, 180) !important;
}

.ProductTable {
  list-style: none;
  margin: 1em;
  padding: 1em;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
          justify-content: flex-start;

  align-items: center;
  align-content: center;

  color: #fff;
  text-transform: capitalize;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

.ProductTable li {
  margin: 0 .5em 1em;
  padding: 1em;
  width: 200px;
  height: 100px;
  text-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  /*line-height: 1;*/
}

.SearchBar {
  margin: 1em 1em 1em 1.25em;
  padding: 1em;
}

.SearchBar input[type="text"] {
  padding: 1em;
  min-width: 50%;
  font-size: 1em;
}

.Legend {
  margin: 1em;
}

.Legend h4 {
  margin-left: 1.5em;
}

.Legend ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1.5em;
}

.Legend ul li {
  margin: 0 1em 0 0;
  display: inline-block;
}

.Legend .color-key {
  display: inline-block;
  width: 20px;
  height: 1em;
  margin-right: .25em;
  background-color: black;
  vertical-align: middle;
}
