body {
  background: #f0f0f0;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.App {
  margin: 1em;
}

// @TODO: Take out...
//
//
//
//
//
//

.ResultList,
.DisambiguationRowList,
.group-members-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ResultDisambiguation {
  margin-bottom: 1em;
}

.ResultGroup,
.ResultList {
  .ListItem {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin-right: 1em;
    margin-bottom: 1em;

    &:last-child { margin-right: 0; }
    &:hover, &:focus {
      cursor: pointer;
      box-shadow: 1px 3px 10px rgba(0,0,0,.3);
      transform: translate3d(-1px, -1px, 0);
    }
  }
}

.DisambiguationRowList {
  .ResultGroup {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;

    h4 {
      margin-top: 0;
    }

    &.disambiguation-group .ListItem {
      height: auto;
      &:hover, &:focus {
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
      }
    }

  }
}

.ResultList {
  display: block;
  background-color: #fcfcfc;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  margin-bottom: 1em;
  padding: 1em;
}
